{% extends "main_layout.html" %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-7" style="margin-top: 30px;">
            <h2>Pengertian Rosacea</h2>
            <p align="justify">
                Rosacea merupakan salah satu penyakit kulit yang umum terjadi pada wanita dengan usia 30 hingga 50 tahun. Penyakit ini menyebabkan kulit pada bagian hidung, pipi, dagu, dan dahi menjadi kemerahan. Rosacea mungkin juga dapat menimbulkan benjolan kecil, merah, dan berisi nanah. Gejala-gejala rosacea tersebut bisa berlangsung selama berminggu-minggu sampai berbulan-bulan, kemudian hilang untuk sementara waktu. Rosacea juga sering disalahartikan sebagai jerawat atau masalah kulit lainnya.
            </p>

            <div>
                <h2>Gejala Rosacea</h2>
                <p>
                    Gejala yang diawali dengan benjolan kecil padat, bintil air dan jerawat pada kulit yang memerah dengan memicu adanya:
                    <ul align="justify">
                        <li>Kulit kemerahan yang permanen</li>
                        <li>Pembuluh darah di bawah kulit terlihat jelas.</li>
                        <li>Kulit perih dan rasa sensasi terbakar.</li>
                        <li>Adanya masalah mata. Banyak pengidap rosacea juga mengalami masalah mata, seperti mata kering, iritasi, bengkak dan kelopak mata merah dan bengkak. Kondisi ini dikenal sebagai okular rosacea. Pada beberapa orang, gejala pada mata ini mendahului gejala kulit.</li>
                        <li>Permukaan kulit menjadi kasar.</li>
                        <li>Hidung membesar. Seiring berjalannya waktu, rosacea dapat menebalkan kulit di hidung dan menyebabkan hidung tampak bulat (rhinophyma). Kondisi ini lebih sering terjadi pada pria daripada wanita.</li>
                    </ul>
                </p>
            </div>
        </div>
        <div class="col-md-5" style="padding: 50px;">
            <div class="bg-secondary" style="border-radius: 50px; width: 300px;height: 300px; position:relative;">
                <img src="{{data}}" alt="" width="300" height="300" style="border-radius: 50px;">
            <div style="position: absolute; bottom:-30px; left:65px;">
                <b>Terdeteksi {{percentage}}% {{hasil}}</b>
            </div> 
            </div>
        </div>
    </div>
    
    <div>
        <div>
            <h3>Penyebab Rosacea</h3>
            <p align="justify">
                Penyebab rosacea memang belum diketahui secara pasti, tapi bisa jadi karena kombinasi dari faktor keturunan dan lingkungan. Beberapa faktor yang dapat memicu flare-up atau memerahnya wajah, antara lain:
                <ul >
                    <li>Paparan sinar matahari atau angin.</li>
                    <li>Udara dingin atau panas.</li>
                    <li>Berolahraga terlalu keras.</li>
                    <li>Memakan makanan pedas.</li>
                    <li>Meminum minuman panas.</li>
                    <li>Udara lembap.</li>
                    <li>Minuman kafein.</li>
                    <li>Stres.</li>
                    <li>Berendam di air hangat.</li>
                </ul>
            </p>
        </div>
        
        <div>
            <h3>Faktor Risiko Rosacea</h3>
            <p align="justify">Siapapun sebenarnya bisa mengalami rosacea. Namun, kamu mungkin akan lebih berisiko terkena penyakit kulit ini bila memiliki faktor-faktor berikut:</p>
            <p>
                <ul >
                    <li>Jenis kelamin. Kebanyakan pengidap rosacea adalah wanita.</li>
                    <li>Memiliki warna kulit yang terang.</li>
                    <li>Berusia di atas 30 tahun.</li>
                    <li>Memiliki kebiasaan merokok.</li>
                    <li>Memiliki riwayat keluarga rosacea.</li>
                </ul>
            </p>
        </div>
        <div>
            <h3>Pengobatan Roascea</h3>
            <p align="justify">
                Pengobatan rosacea bertujuan untuk meredakan gejala rosacea. Pengobatan rosacea dapat berupa kombinasi obat-obatan dari dokter berdasarkan jenis gejala pengidap. Selain itu, berikut adalah cara-cara yang bisa dilakukan untuk mempercepat penyembuhan rosacea:
            </p>
            <ul align="justify">
                <li>Menggunakan produk perawatan untuk kulit sensitif.</li>
                <li>Mengoleskan tabir surya dengan SPF 30 atau bahkan lebih sebelum beraktivitas keluar rumah.</li>
                <li>Menjaga kondisi mata agar kelopak mata selalu bersih.</li>
                <li>Mencari tahu dan menghindari pemicu gejala rosacea.</li>
            </ul>
        </div>

        <div>
            <h3>Diagnosis Rosacea</h3>
            <p align="justify">Tidak ada tes khusus yang digunakan untuk mendiagnosis rosacea. Dokter biasanya hanya akan menanyakan riwayat gejala yang dialami dan memeriksa kulit pengidap. Pengidap mungkin juga harus menjalani tes untuk menyingkirkan kemungkinan penyebab lain, seperti psoriasis, eksim, atau lupus. Pasalnya, penyakit tersebut kadang-kadang bisa menyebabkan gejala-gejala yang mirip dengan rosacea. Bila pengidap mengalami gejala pada mata, dokter mungkin akan merujuk pengidap ke dokter spesialis mata untuk dievaluasi.</p>
        </div>

        <div>
            <h3>Pencegahan Rosacea</h3>
            <p>Lakukan hal-hal berikut untuk mencegah timbulnya penyakit Rosacea:</p>
            <ul>
                <li>Hindari beraktivitas sinar matahari dalam waktu yang lama.</li>
                <li>Hindari minuman beralkohol dan minuman kafein.</li>
                <li>Hindari stres dengan melakukan kegiatan yang disukai.</li>
            </ul>
        </div>

        <div>
            <h3>Pengobatan Rosacea</h3>
            <p align="justify">Pengobatan rosacea bertujuan untuk meredakan gejala rosacea. Pengobatan rosacea dapat berupa kombinasi obat-obatan dari dokter berdasarkan jenis gejala pengidap. Selain itu, berikut adalah cara-cara yang bisa dilakukan untuk mempercepat penyembuhan rosacea:</p>
            <ul>
                <li>Menggunakan produk perawatan untuk kulit sensitif.</li>
                <li>Mengoleskan tabir surya dengan SPF 30 atau bahkan lebih sebelum beraktivitas keluar rumah.</li>
                <li>Menjaga kondisi mata agar kelopak mata selalu bersih.</li>
                <li>Mencari tahu dan menghindari pemicu gejala rosacea.</li>
            </ul>
        </div>

        <div style="margin-top: 20px;">
            <h3>Kapan harus ke dokter?</h3>
            <p align="justify">
                Segera periksakan diri ke dokter jika Anda mengalami salah satu atau beberapa gejala rosacea yang telah disebutkan sebelumnya dan disertai keluhan hidung memerah atau membengkak.

                Anda juga dianjurkan untuk segera mencari pertolongan medis bila mengalami gejala rosacea pada mata atau ocular rosacea. Jika tidak tertangani, rosacea pada mata dapat menyebabkan kerusakan yang lebih serius di mata.
            </p>
        </div>

<p>Source: Halodoc.com</p>

    </div>
</div>

{% endblock %}

