.mt--20 { padding: 10px; }
.t-white{ color: white; font-weight: bold; font-size: 1em; padding: 0px 30px; border-radius: 15px;}
.t-yellow{ color: gold; font-size: 1.5em;}
.ml-10{margin-left: 10px;}
.mt-10{margin-top: 10px;}
.t-bold {font-weight: bold;}
.d-judul {width: 70%; margin: 10px auto;}
.line-space1 {margin: 300px 20px; color: red}